################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs
/src/PropertyFlex/.vs
/src/PropertyFlex/obj
/src/PropertyFlex/bin/Debug/net10.0
